/* Add CSS styling here */

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit; 
color: goldenrod; 
vertical-align: baseline;  
box-sizing:border-box;
font-family:'EB Garamond', serif;
}

/*general styles*/
header h1{
    font-size:300%;
}
body{
    line-height:1.5;
    background-color: black;
    color:white;
}
p{
    font-size: small;
}
nav.header a{
    background-color:darkgreen;
}
nav.header a:hover{
    background-color:lightgreen;
    cursor: pointer;
}
a{
    padding:1%;
}
.button button{
cursor:pointer;
}
.button{
    background-color: inherit;
}

/*header styles*/
header{
    display:flex;
    flex-direction:column;
    background-color: grey;
    position: sticky;
}
header nav{
    display:flex;
    height: 5vh;
}
header nav a{
    background-color:darkgreen;
    border: 2px solid red;
}
header nav a:hover{
    background-color:lightgreen;
}


/*section 1 styles*/

.section1{
    display:flex;
    margin: 4%;
    flex-flow:row wrap;
    justify-content:center;
}
#headshot{
    width:40%;
    height:100%;
    display:flex;
    margin-right:0px;
}
#headshot img{
    object-fit: contain;
    width:80%;
}
div.maintext h2{
    font-size: 200%;
}
.maintext{
    width:40%;
    display:flex;
    flex-flow:column wrap;
    align-items:flex-start;
    justify-content: flex-end;
    margin-left:0px;
}
#description{
    width:50%;
    object-fit: contain;
    max-height: 100%;
}


/*section 2 styles*/
section.section2{
    height:40%;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
}
/*this solution works*/
section.section2 div{
    width:25%;
    display:flex;
    flex-flow: column-reverse wrap;
    align-items:center;
    margin-bottom:5%; 
 } 

section.section2 img{
    width: 200px;
    height: 200px; 
}
    flex-flow:row wrap;
    margin: 5% 0% 0% 0%;
}
.section3 div{
    width:18%;
}
div.projects img{
    object-fit: contain;
    max-width: 100%;
    max-height: 80%;
}
.section3 div.projects{
    display:flex;
    flex-direction: row-reverse;
} 

/*footer styles*/

footer{
    background-color:grey;
    display:flex;
    flex-direction: column;
}
footer div{
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
footer nav a{
    color:Cyan;
}
button{
    margin:0%;
}
footer h2{
    font-size:150%;
}